<div class="individual-view-details-tab">
  <div class="individual-view-details-tab-first-item">
    <cds-icon shape="envelope"></cds-icon><label class="bold"> Email: </label><label>csarikonda_learner@uworld.in</label>
    <br>
    <cds-icon shape="check"></cds-icon><label class="bold"> Graduation date: </label><label>03-01-17</label>
    <br>
    <cds-icon shape="phone-handset"></cds-icon><label class="bold"> Phone: </label><label>773-555-1212</label>
    <br>
    <cds-icon shape="file"></cds-icon><label class="bold"> View Survey</label>
  </div>
  <div class="individual-view-details-tab-second-item">
    <h3 class="course-name">Illinois Bar Review - 520</h3>
    <br>
    <label class="bold">Overall Completion</label>
    <clr-progress-bar clrValue="65" clrLabeled></clr-progress-bar>
    <br/>
    <br/>
    <div class="individual-view-details-assignments-completion">
      <div>
        <h2>0</h2>
        <h5>Assignments Completed</h5>
        <label>of 10</label>
      </div>
      <div>
        <h2>0</h2>
        <h5>MBE PQ Sessions Completed</h5>
        <label>of 10</label>
      </div>
      <div>
        <h2>0</h2>
        <h5>Practice Exams Completed</h5>
        <label>of 10</label>
      </div>
      <div>
        <h2>0</h2>
        <h5>Graded Essays Completed</h5>
        <label>of 10</label>
      </div>
    </div>
  </div>
</div>
