.pt-0 {
  padding-top: 0px !important;
}

.themis-login-bg {
  height: 100% !important;
  background: url("/assets/img/themis-login.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position: center center !important;
}

.login-error+.btn, .remeber-me+.btn{
  margin: 1.2rem 0 0 0 !important;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
