<div class="login-wrapper themis-login-bg">
  <form #loginFrom="ngForm" class="login" (ngSubmit)="login()" autocomplete="off">
      <section class="title">
          <h3 class="welcome">Welcome to</h3>
          Themis Bar Review
          <h5 class="hint">Use your email to sign in or create one now</h5>
      </section>
      <div class="login-group pt-0">
        <h2>Login</h2>
          <clr-input-container>
              <label class="clr-sr-only">Email</label>
              <input type="email" #email="ngModel" name="email" clrInput placeholder="Email" [(ngModel)]="model.email" required email/>
              <clr-control-error>Please provide a valid email</clr-control-error>
          </clr-input-container>
          <clr-password-container>
              <label class="clr-sr-only">Password</label>
              <input type="password" #password="ngModel" name="password" clrPassword placeholder="Password" [(ngModel)]="model.password" required password/>
              <clr-control-error>Please provide your password</clr-control-error>
          </clr-password-container>
          <clr-checkbox-wrapper class="remeber-me">
              <label #rememberMe>Remember me</label>
              <input type="checkbox" name="rememberMe" clrCheckbox/>
          </clr-checkbox-wrapper>
          <clr-alert class="login-error" clrAlertType="danger" (clrAlertClosedChange)="clearError()" *ngIf="loginError">
            <clr-alert-item>
              <span class="alert-text" #errorText>
              </span>
            </clr-alert-item>
          </clr-alert>
          <button type="submit" class="btn btn-primary" #submitButton>Login</button>
          <label class="signup">Don't have an account? Register <a href="javascript://" class="signup">Here</a></label>
      </div>
  </form>
</div>
