* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.color-white {
  color: white !important;
}

.mt-auto {
  margin-top: auto;
}

.bold{
  font-weight: bold;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--clr-global-app-background);
  z-index: 5000;
}


.page-header {
  margin-top: var(--cds-token-space-size-5,.4rem);
  margin-bottom: var(--cds-token-space-size-7,.8rem)
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #949494 #1b2a32;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #1b2a32;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 4px;
    border: 1px solid #787878;
  }
