<div>
  <h1 class="page-header">My Profile</h1>
</div>
<div class="clr-row clr-gx-5 mt-auto">
  <div class="clr-col-6 left-half">

    <div>
      <h3>Chaitanya GaneshRaju Sarikonda</h3>
      <label>csarikonda@uworld.in</label>
      <br>
      <label>+91 9100536459</label>
    </div>

    <div >
      <h4>Law Schools</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Law School</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Standford School of Law</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Standford School of Law</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Standford School of Law</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Standford School of Law</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="clr-col-6 right-half">
    <div >
      <h4> Managed Courses</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Season</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Illinois Bar Review</td>
            <td>Summer</td>
            <td>2023</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Illinois Bar Review</td>
            <td>Summer</td>
            <td>2023</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Illinois Bar Review</td>
            <td>Summer</td>
            <td>2023</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Illinois Bar Review</td>
            <td>Summer</td>
            <td>2023</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div >
      <h4>Courses</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Season</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Illinois Bar Review</td>
            <td>Summer</td>
            <td>2023</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Illinois Bar Review</td>
            <td>Summer</td>
            <td>2023</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Illinois Bar Review</td>
            <td>Summer</td>
            <td>2023</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Illinois Bar Review</td>
            <td>Summer</td>
            <td>2023</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
