<div class="main-container">
  <div class="content-container">
    <div class="content-area content-area-container">
      <div>
        <router-outlet></router-outlet>
      </div>
      <div class="clr-footer">
        <label>© {{currentYear}} Themis Bar Review LLC. All Rights Reserved.</label>
      </div>
    </div>
    <clr-vertical-nav class="bold">
      <div class="clr-row clr-align-items-center text-center clr-justify-content-center"
        style="padding-bottom: 0.9rem;">
        <div class="clr-col">
          <img src="/assets/img/Themisbar_logo.png" width="75%" />
        </div>
      </div>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./report-detail">
        <cds-icon shape="clipboard" clrVerticalNavIcon></cds-icon>
        Report Detail
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./mcq-performance">
        <cds-icon shape="mcq-performance-icon" clrVerticalNavIcon></cds-icon>
        MCQ Performance
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./mcq-api">
        <cds-icon shape="mcq-api-icon" clrVerticalNavIcon></cds-icon>
        MCQ API
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./graded-essays">
        <cds-icon shape="graded-essays-icon" clrVerticalNavIcon></cds-icon>
        Graded Essays
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./practice-exams">
        <cds-icon shape="practice-exams-icon" clrVerticalNavIcon></cds-icon>
        Practice Exams
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./individual-view">
        <cds-icon shape="users" clrVerticalNavIcon></cds-icon>
        Individula view
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./my-profile">
        <cds-icon shape="user" clrVerticalNavIcon></cds-icon>
        My Profile
      </a>
      <a class="mt-auto course-pill" clrVerticalNavLink href="javascript:void(0);" (click)="modal.open(courses)">
        Illinois Bar Review 520
      </a>
      <a class="logout" clrVerticalNavLink href="javascript:void(0);" (click)="logout()">
        <cds-icon shape="logout" clrVerticalNavIcon></cds-icon>
        Logout
      </a>
    </clr-vertical-nav>
  </div>
</div>
<app-select-course-dialog></app-select-course-dialog>
