.faculty-nav{
  background-color: #0072a3;
}

.logout {
  border-top: 1px solid #ccc;
  border-width: var(--clr-vertical-nav-trigger-divider-border-width, 0.0rem);
}

.content-area{
  padding-top: 0px !important;
}

.course-pill{
  background-color: #0072a3;
  color: white;
  border: none;
  border-radius: 100px;
}

.logout:hover{
  background-color: transparent !important;
}
