.faculty-nav{
  background-color: #0072a3;
}

.logout {
  border-top: 1px solid #ccc;
  border-width: var(--clr-vertical-nav-trigger-divider-border-width, 0.0rem);
}

.content-area{
  padding-top: 0px !important;
}

.course-pill{
  background-color: #0072a3;
  color: white;
  border: none;
  border-radius: 100px;
}

.logout:hover{
  background-color: transparent !important;
}

.clr-footer {
  background-color:  #2a4252;
  text-align: center;
  /* max-width: calc(100% + 40px); */
  margin-left: -22px;
  margin-right: -22px;
  font-size: 0.8em;
}

.content-area-container{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding-bottom: 0 !important;
}
