<div>
  <div>
    <h1 class="page-header">Chaitanya GaneshRaju Sarikonda</h1>
    <label> <cds-icon shape="angle" direction="left"></cds-icon><a routerLink="../..">Back</a> | <a routerLink="../.." routerLinkActive="router-link-active" >Individual View</a> / Chaitanya GaneshRaju Sarikonda </label>
  </div>
  <br />
  <div>
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>Details</button>
        <clr-tab-content *clrIfActive>
          <app-individual-view-individual-view-detail-details-detail></app-individual-view-individual-view-detail-details-detail>
        </clr-tab-content>
      </clr-tab>


      <clr-tab>
        <button clrTabLink>Assignments</button>
        <clr-tab-content *clrIfActive>
          <app-individual-view-details-detail-individual-view-detail-assignments></app-individual-view-details-detail-individual-view-detail-assignments>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>MBE PQs</button>
        <clr-tab-content *clrIfActive>
          <app-individual-view-details-detail-individual-view-detail-mbe-pqs></app-individual-view-details-detail-individual-view-detail-mbe-pqs>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Practice Exams</button>
        <clr-tab-content *clrIfActive>
          <app-individual-view-details-individual-view-detail-practice-exams></app-individual-view-details-individual-view-detail-practice-exams>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Graded Essays</button>
        <clr-tab-content *clrIfActive>
          ...
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
</div>
