<div class="home-page-container-1">
  <div class="container">
    <header class="header home-page-header">
      <div class="branding home-page-header-branding">
        <a href="..." class="nav-link">
          <!-- <span class="title">Themis Bar Review</span> -->
          <img class="home-page-logo" src="/assets/img/Themis_square.png" />
        </a>
      </div>
      <div class="header-nav home-page-header-nav">
        <a href="..." class="nav-link" aria-current="page"><span class="nav-text">Bar Review</span></a>
        <a href="..." class="nav-link" aria-current="page"><span class="nav-text">LL.M Advantage</span></a>
        <a href="..." class="nav-link" aria-current="page"><span class="nav-text">MPRE</span></a>
        <a href="..." class="nav-link" aria-current="page"><span class="nav-text">LSE</span></a>
        <a href="..." class="nav-link"><span class="nav-text">Blog</span></a>
        <a href="..." class="nav-link"><span class="nav-text">Bill My Employer</span></a>
        <div class="home-page-header-nav-buttons">
          <a href="..." class="nav-link"><span class="btn btn-sm nav-text btn-enroll">Enroll</span></a>
          <a routerLink="/login" class="nav-link"><span class="btn btn-sm btn-primary nav-text">Login</span></a>
        </div>
      </div>
    </header>

    <br />
    <br />

    <div class="moto">
      <p class="moto-header">
        We Make Really HardStuff <br />
        Easy to Understand
      </p>
      <h5 class="moto-sub-header">
        Customizable learning tools for your high-stakes exam
      </h5>
    </div>
    <br/>
    <div class="clr-row services-list">
      <div class="clr-col-4">
        <h4>Study with forward-thinking learning tools.</h4>
        <span>The resources you need to study effectively, ensuring you complete as
          much coursework as possible.</span>
      </div>
      <div class="clr-col-4">
        <h4>Get the support you need.</h4>
        <span>Your Personal Success Team is composed of a local Themis Director,
          Attorney Adviser, and a Dedicated Essay Grader who support you, offer
          their expertise, and encourage you when you need it most.</span>
      </div>
      <div class="clr-col-4">
        <h4>Conveniently track your progress.</h4>
        <span>We offer insightful Performance Analytics so you can gauge how you
          stack up to other students by question, subject matter, and overall
          performance.</span>
      </div>
    </div>

    <br />
    <br />

    <div class="three-div-banners">
      <div class="primary-banner">
        <img class="primary-banner-image" src="/assets/img/Themis-UWorld-logo.png" />
        <h1>Raising the Bar in Bar Prep</h1>
        <h3 class="primary-banner-sub-header">
          Everything you need to pass the bar with confidence
        </h3>
        <br />
        <button class="btn btn-primary">Try it</button>
      </div>
      <div class="secondary-banners">
        <div class="secondary-banner-1">
          <h3 class="no-margin">Make it happen with courses</h3>
          <p class="no-margin">Enjoy an exceptional learning experience</p>
          <button class="btn">choose your course</button>
        </div>
        <div class="secondary-banner-2">
          <h3 class="no-margin">Why Themis works?</h3>
          <p class="no-margin">Methodologies & Research</p>
          <button class="btn">Learn More</button>
        </div>
      </div>
    </div>

    <br />

    <div class="pricing-banner">
      <h2 class="pricing-banner-header no-margin">LIMITED TIME OFFER:</h2>
      <p class="pricing-banner-text no-margin">
        Receive up to $150 off your July 2024 bar review course until April 1,
        2024, including free access to UWorld's MBE® QBank.
        <a class="pricing-page-link">Pricing and Enrollment</a>
      </p>
    </div>

    <br />
    <br />
  </div>
</div>

<div class="home-page-container-2">
  <div class="container">
    <div class="moto">
      <br/>
      <p class="moto-header no-margin">
        All-Inclusive Pricing
      </p>
    </div>
    <div>
      Some companies provide premium course content only to students who pay more. Themis offers all of our students a full-service bar review experience.
      <br>
      <table class="table table-bordered pricing-scroll" style="border:0px solid #ddd;margin-top:-1%">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" style="text-align: center"><h4 style="margin-bottom: -5%;">Full Bar Review <br>Course</h4></th>
          <th scope="col" style="text-align: center"><h4 style="margin-bottom: -5%;">LL.M. Advantage<br> Course<sup>TM</sup></h4></th>
        </tr>
        </thead>

        <tbody>
        <tr style="background: #1b2a32;color:white;">
          <td class="border-style-left" style="text-align: center;border:0px solid white;font-size:140%">Full Price</td>
          <td style="text-align: center; border:0px solid white;font-size:150%">
              <span style="color: white">$2,895</span>
          </td>
          <td style="text-align: center; border:0px solid white;font-size:150%">
            <span style="color: white">$3,195</span>
          </td>
        </tr>

        <tr>
          <td class="border-style-left"><strong style="color:#2B7FC4; font-size: 18px">$1,200 Course Discount </strong>| 2025 Courses<br>
            <i style="font-size:100%; margin-bottom: -8px">Pay in full by September 30, 2024.</i>
          </td>
          <td style="text-align: center;font-weight: bolder;color:#2B7FC4; font-size: 18px; vertical-align: middle">$1,695
          </td>
          <td class=" border-style-right" style="text-align: center;font-weight: bolder;color:#2B7FC4;font-size: 18px; vertical-align:middle">$1,995
          </td>
        </tr>

        <tr>
          <td class="border-style-left"><strong style="color:#2B7FC4; font-size: 18px">$1,000 Course Discount </strong>| 2025 Courses<br>
            <i style="font-size:100%; margin-bottom: -8px">Pay $5 by September 30, 2024; subsequent payments* are automatically charged.</i>
          </td>
          <td style="text-align: center;font-weight: bolder;color:#2B7FC4; font-size: 18px; vertical-align: middle">$1,895
          </td>
          <td class=" border-style-right" style="text-align: center;font-weight: bolder;color:#2B7FC4;font-size: 18px; vertical-align:middle">$2,195
          </td>
        </tr>

        <tr>
          <td class="border-style-left"><strong style="color:#2B7FC4; font-size: 18px">$1,200 Public Interest Scholarship </strong>| 2025 Courses<br>
            <i style="font-size:100%; margin-bottom: -8px">Qualified candidates must complete <a target="_blank" href="https://d313zs928noyn.cloudfront.net/Forms/public_interest_scholarship_application_2024.pdf" style="text-decoration:underline;">this form</a> by November 30, 2024.</i>
          </td>
          <td style="text-align: center;font-weight: bolder;color:#2B7FC4; font-size: 18px; vertical-align: middle">$1,695
          </td>
          <td class=" border-style-right" style="text-align: center;font-weight: bolder;color:#2B7FC4;font-size: 18px; vertical-align:middle">$1,995
          </td>
        </tr>

        <tr>
          <td class="border-style-left"><strong style="color:#2B7FC4; font-size: 18px">$1,100 Course Discount </strong>| 2026 Courses<br>
            <i style="font-size:100%; margin-bottom: -8px">Pay $5 by September 30, 2024; subsequent payments* are automatically charged.</i>
          </td>
          <td style="text-align: center;font-weight: bolder;color:#2B7FC4; font-size: 18px; vertical-align: middle">$1,795
          </td>
          <td class=" border-style-right" style="text-align: center;font-weight: bolder;color:#2B7FC4;font-size: 18px; vertical-align:middle">$2,095
          </td>
        </tr>

        <tr>
          <td class="border-style-left"><strong style="color:#2B7FC4; font-size: 18px">$1,100 Course Discount </strong>| 2027 Courses<br>
            <i style="font-size:100%; margin-bottom: -8px">Pay $5 by September 30, 2024; subsequent payments* are automatically charged.</i>
          </td>
          <td style="text-align: center;font-weight: bolder;color:#2B7FC4; font-size: 18px; vertical-align: middle">$1,795
          </td>
          <td class=" border-style-right" style="text-align: center;font-weight: bolder;color:#2B7FC4;font-size: 18px; vertical-align:middle">$2,095
          </td>
        </tr>

        <tr>
          <td class="border-style-left"><strong style="color:#2B7FC4; font-size: 18px">ABA Premium Discount</strong><br>
            <i style="font-size:100%; margin-bottom: -8px">ABA Premium Members are eligible for a $100 discount.</i>
          </td>
          <td style="text-align: center;font-weight: bolder;color:#2B7FC4; font-size: 18px; vertical-align: middle">$2,795
          </td>
          <td class="border-style-right" style="text-align: center;font-weight: bolder;color:#2B7FC4;font-size: 18px; vertical-align:middle">$3,095
          </td>
        </tr>

        <tr>
          <td class="border-style-left border-style-right" colspan="3">
            <i style="font-size:100%; margin-bottom: -8px"><a href="#director-form-scroll" style="text-decoration:underline; font-size:100%">Contact your law school's Themis director</a>  to learn more about all possible discounts that may be in effect.</i>
          </td>
        </tr>

        <tr>
          <td class="border-style-left border-style-right" colspan="3">
            <strong style="font-size: 18px">Get our full bar prep course (valued at $2,895) and UWorld’s MBE® QBank supplement (valued at $529) for a combined value of over $3,400!</strong>
          </td>
        </tr>
        </tbody>
      </table>
      <p style="font-size:16px"> <a href="#director-form-scroll" style="text-decoration:underline; font-size:100%">Contact your law school's Themis director</a> to learn more about all possible discounts that may be in affect.</p>
    </div>
    <br/>
  </div>
</div>

<div class="home-page-container-3">
  <div class="container">
    <div class="moto">
      <br />
      <p class="moto-header no-margin">
        Trusted by 1000+ Law Schools & Law Firms
      </p>
      <br>
      <h5 class="moto-sub-header">
        Many of the world's most dynamic individuals, Law School and Firms find
        Themis Bar Review useful. Some of the best-known are here.
      </h5>
    </div>
  </div>

  <div class="container-fluid">

    <div class="logos">
      <div class="logos-slide">
        <img src="assets/img/KirklandEllis_Logo.png" />
        <img src="/assets/img/Baker_McKenzie_logo.png" />
        <img src="/assets/img/IOWA-law.png" />
        <img src="/assets/img/IIT_CK_horiz_186_cg9.png" />
        <img src="/assets/img/Latham_Watkins-Logo.wine.png" />
        <img src="/assets/img/Arizona_State_University_logo.png" />
        <img src="/assets/img/Academy_Human_Rights_Humanitarian_Law_logo_black_horizontal.png" />
        <img src="/assets/img/University_of_Texas_at_Austin_School_of_Law_logo.png" />
        <img src="/assets/img/Morgan_Lewis_Logo_3.png" />
      </div>
      <div class="logos-slide">
        <img src="assets/img/KirklandEllis_Logo.png" />
        <img src="/assets/img/Baker_McKenzie_logo.png" />
        <img src="/assets/img/IOWA-law.png" />
        <img src="/assets/img/IIT_CK_horiz_186_cg9.png" />
        <img src="/assets/img/Latham_Watkins-Logo.wine.png" />
        <img src="/assets/img/Arizona_State_University_logo.png" />
        <img src="/assets/img/Academy_Human_Rights_Humanitarian_Law_logo_black_horizontal.png" />
        <img src="/assets/img/University_of_Texas_at_Austin_School_of_Law_logo.png" />
        <img src="/assets/img/Morgan_Lewis_Logo_3.png" />
      </div>
    </div>
  </div>
</div>

<div class="home-page-container-4">
  <div class="container">
    <div class="moto">
      <br />
      <p class="moto-header themis-conf-header">
        Discover more
      </p>
      <br>
      <div class="themis-conf">
        A place for the community to gather and discuss all things about law, ThemisConf is offical and open now.
        <br>
        <button class="btn">Join now</button>
      </div>
    </div>
    <br/>
  </div>
</div>

<footer class="home-page-container-5">
  <div class="container">
    <br>
    <div class="footer-row-1">
      <div class="col-sm-4">
        <p>
          ABOUT THEMIS
        </p>
        <ul class="list-unstyled">
          <li><a rel="nofollow" href="/pricing">Course Pricing</a></li>
          <li><a rel="nofollow" href="/demo">Course Features Demo</a></li>
          <li><a rel="nofollow" href="/testimonials">Testimonials</a></li>
          <li><a rel="nofollow" href="/course-information">July 2024 Lecture Schedules</a></li>
          <li><a rel="nofollow" href="/themis-vs-barbri">Themis vs. Barbri</a></li>
          <li><a target="_blank" href="https://d3599lpgufr6nb.cloudfront.net/Forms/public_interest_scholarship_application_2024.pdf">Public Interest Tuition</a></li>
          <li><a href="/firm-billing">Firm Billing Request</a></li>
          <li><a href="/aba-premium-membership">ABA Premium Membership</a></li>
          <li><a rel="nofollow" href="/faq">FAQs</a></li>
          <li><a target="_blank" href="https://d3599lpgufr6nb.cloudfront.net/Forms/ADA_Accommodation.Form.pdf">ADA Accommodation Request</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms">Terms of Use</a></li>
          <li><a rel="nofollow" href="/password/edit">Change password</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p>
          FOR 1LS, 2LS, 3LS and UP
        </p>
        <ul class="list-unstyled">
          <li><a href="/pass-the-bar-exam">The bar exam and Themis Bar Review</a></li>
          <li><a href="/mpre">The MPRE &amp; Themis MPRE Review</a></li>
          <li><a href="/law-school-essentials">Law School Essentials <sup>™</sup></a></li>
          <li><a href="/llm-bar-review-course">LLM Advantage</a></li>
        </ul>
        <p>
          GETTING IN TOUCH<br>
          Monday - Friday, 8am - 6pm, Central
        </p>
        <ul class="list-unstyled">
          <li><a rel="nofollow" href="/themis-blog">Blog</a></li>
          <li><a rel="nofollow" target="_blank" href="https://www.facebook.com/ThemisBar">Facebook</a></li>
          <li><a rel="nofollow" target="_blank" href="https://www.linkedin.com/company/themis-bar-review/">LinkedIn</a></li>
          <li><a rel="nofollow" target="_blank" href="https://www.instagram.com/themisbar/">Instagram</a></li>
          <li><a rel="nofollow" target="_blank" href="https://twitter.com/themisbar">Twitter</a></li>
          <li><a href="http://themisbar.freshdesk.com">Our help forums</a></li>
          <li><a href="/contact-us">On the web</a></li>
          <li><a class="tel-link" href="tel:8888436476">888-843-6476</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p>
          JURISDICTIONS
        </p>
        <div class="jurisdictions-row">
          <div class="col-sm-6 hidden-xs">
            <ul class="list-unstyled">
                              <li><a href="/pass-the-bar-exam/alabama-bar-exam">Alabama</a></li>
                              <li><a href="/pass-the-bar-exam/alaska-bar-exam">Alaska</a></li>
                              <li><a href="/pass-the-bar-exam/arizona-bar-exam">Arizona</a></li>
                              <li><a href="/pass-the-bar-exam/arkansas-bar-exam">Arkansas</a></li>
                              <li><a href="/pass-the-bar-exam/california-bar-exam">California</a></li>
                              <li><a href="/pass-the-bar-exam/colorado-bar-exam">Colorado</a></li>
                              <li><a href="/pass-the-bar-exam/connecticut-bar-exam">Connecticut</a></li>
                              <li><a href="/pass-the-bar-exam/district-of-columbia-bar-exam">District of Columbia</a></li>
                              <li><a href="/pass-the-bar-exam/florida-bar-exam">Florida</a></li>
                              <li><a href="/pass-the-bar-exam/georgia-bar-exam">Georgia</a></li>
                              <li><a href="/pass-the-bar-exam/hawaii-bar-exam">Hawaii</a></li>
                              <li><a href="/pass-the-bar-exam/idaho-bar-exam">Idaho</a></li>
                              <li><a href="/pass-the-bar-exam/illinois-bar-exam">Illinois</a></li>
                              <li><a href="/pass-the-bar-exam/indiana-bar-exam">Indiana</a></li>
                              <li><a href="/pass-the-bar-exam/iowa-bar-exam">Iowa</a></li>
                              <li><a href="/pass-the-bar-exam/kansas-bar-exam">Kansas</a></li>
                              <li><a href="/pass-the-bar-exam/kentucky-bar-exam">Kentucky</a></li>
                              <li><a href="/pass-the-bar-exam/maine-bar-exam">Maine</a></li>
                              <li><a href="/pass-the-bar-exam/maryland-bar-exam">Maryland</a></li>
                              <li><a href="/pass-the-bar-exam/massachusetts-bar-exam">Massachusetts</a></li>
                              <li><a href="/pass-the-bar-exam/michigan-bar-exam">Michigan</a></li>
                              <li><a href="/pass-the-bar-exam/minnesota-bar-exam">Minnesota</a></li>
                              <li><a href="/pass-the-bar-exam/missouri-bar-exam">Missouri</a></li>
                              <li><a href="/pass-the-bar-exam/montana-bar-exam">Montana</a></li>
                              <li><a href="/pass-the-bar-exam/nebraska-bar-exam">Nebraska</a></li>
                          </ul>
          </div>
          <div class="col-sm-6 hidden-xs">
            <ul class="list-unstyled">
                              <li><a href="/pass-the-bar-exam/nevada-bar-exam">Nevada</a></li>
                              <li><a href="/pass-the-bar-exam/new-hampshire-bar-exam">New Hampshire</a></li>
                              <li><a href="/pass-the-bar-exam/new-jersey-bar-exam">New Jersey</a></li>
                              <li><a href="/pass-the-bar-exam/new-mexico-bar-exam">New Mexico</a></li>
                              <li><a href="/pass-the-bar-exam/new-york-bar-exam">New York</a></li>
                              <li><a href="/pass-the-bar-exam/north-carolina-bar-exam">North Carolina</a></li>
                              <li><a href="/pass-the-bar-exam/north-dakota-bar-exam">North Dakota</a></li>
                              <li><a href="/pass-the-bar-exam/ohio-bar-exam">Ohio</a></li>
                              <li><a href="/pass-the-bar-exam/oklahoma-bar-exam">Oklahoma</a></li>
                              <li><a href="/pass-the-bar-exam/oregon-bar-exam">Oregon</a></li>
                              <li><a href="/pass-the-bar-exam/pennsylvania-bar-exam">Pennsylvania</a></li>
                              <li><a href="/pass-the-bar-exam/rhode-island-bar-exam">Rhode Island</a></li>
                              <li><a href="/pass-the-bar-exam/south-carolina-bar-exam">South Carolina</a></li>
                              <li><a href="/pass-the-bar-exam/south-dakota-bar-exam">South Dakota</a></li>
                              <li><a href="/pass-the-bar-exam/tennessee-bar-exam">Tennessee</a></li>
                              <li><a href="/pass-the-bar-exam/texas-bar-exam">Texas</a></li>
                              <li><a href="/pass-the-bar-exam/utah-bar-exam">Utah</a></li>
                              <li><a href="/pass-the-bar-exam/vermont-bar-exam">Vermont</a></li>
                              <li><a href="/pass-the-bar-exam/virginia-bar-exam">Virginia</a></li>
                              <li><a href="/pass-the-bar-exam/washington-bar-exam">Washington</a></li>
                              <li><a href="/pass-the-bar-exam/west-virginia-bar-exam">West Virginia</a></li>
                              <li><a href="/pass-the-bar-exam/wisconsin-bar-exam">Wisconsin</a></li>
                              <li><a href="/pass-the-bar-exam/wyoming-bar-exam">Wyoming</a></li>
                          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-row-2">
      <div class="col-sm-12">
        <p class="small">
          NCBE<sup>®</sup>, MBE<sup>®</sup>, MPRE<sup>®</sup>, MPT<sup>®</sup> and UBE<sup>®</sup> are trademarks of the National Conference of Bar Examiners. Themis Bar Review is neither endorsed by nor affiliated with NCBE.
          <br>
          © 2024 Themis Bar Review LLC All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
  <br>
</footer>
